html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
[ng-controller] {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
.odd {
  background: #ffff00;
}
.even {
  background: orange;
}
.myclass {
  background: #ff8080;
}
.quest {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}
.questcolor {
  background: #F6F6F6;
}
.questselectedcolor {
  background: #ddd;
}
.answer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.vote {
  float: left;
  text-align: center;
  width: 21px;
  margin-right: 20px;
}
.vote-up,
.vote-down {
  display: block;
  margin: 0px auto;
  width: 21px;
  height: 15px;
  background: green;
  cursor: pointer;
}
.htmlcode textarea {
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
}
.htmlcode p {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid green;
}
